.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.btn {
  display: flex;
  gap: 4px;
}

.label {
  display: flex;
  align-items: center;
}

.complete {
  text-decoration: line-through;
  color: #a3a3a3;
}
